<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.andes.intellij.dao.FirstDAO">
    <select id="selectMmbrList" resultType="MmbrVO">
        select *
        from mmbr
    </select>

    <insert id="insertUser" parameterType="com.andes.intellij.model.Insert_DB_UserInfo_Model">
        insert into mmbr (mmbr_id, mmbr_pwd, mmbr_nm, mmbr_join_dtm) values (#{mmbrId}, #{mmbrPwd}, #{mmbrNm}, #{mmbrJoinDtm})
    </insert>

    <delete id="deleteUser" >
        delete from mmbr where mmbr_id = (#{mmbrId})
    </delete>

    <update id="updateUser" parameterType="com.andes.intellij.model.Update_DB_UserInfo_Model">
        update mmbr set mmbr_pwd=(#{mmbrPwd}), mmbr_nm=(#{mmbrNm})
        where mmbr_id= (#{mmbrId})
    </update>
</mapper>